body {
    background-color: #E5ECF4;
    margin: 0; 
}

/* img {
    width: 150px;
    height: 150px;
} */

.d-block w-100 {
    width: 100%;
    height: 100%;
}

#carouselPortfolio {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
  }

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
}

li {
    text-align: right;
}

.container {
    margin-top: 1%;
}

.work h5 {
    position: absolute;
    bottom: 20px;
    width: 200px;
    padding: 5px;
    margin-bottom: 0;
    font-weight: 200;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #280768;
    border-bottom: 0;
}
.container-portfolio {
    width: 40%;   
    background-color: #E5ECF4;
    border: 1px; 
    margin: 0 auto;  
}

.navText {
    text-align: right;
}



.navContainer {
    width: 100%;
    padding: 20px;
    background-color: white;
    border: 1px;
    margin-top: 30px;
    margin-left: auto;
    margin: 0 auto;
    clear: both;
}

.navHome {
    width: 100%;
    padding: 20px;
    background-color: #666666;
    border: 1px;
    margin-top: 30px;
    margin-left: auto;
    margin: 0 auto;
    clear: both;
}



#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}

.navbar {
    background-color: white;
    margin-left: 18%;
    margin-right: 18%;
}

.navRule {
    background-color: #777777;
    height: 2px;
    width: 100%; 
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left;
    width: 290px;
    height: 70px;
    background-color: #280768;
    padding: 15px 0px 0px 50px; 
}

.navbar-brand {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left;
    width: 290px;
    height: 70px;
    background-color: #280768;
    padding: 15px 0px 0px 50px;   
}

.navText {
    color: #333666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

a {
    align-content: center;
}

a:active {
    color:  #3333cc;
    text-decoration: none;
}

a:hover {
    color: bisque;
    background-color: lightsteelblue;
}

a:visited {
    color: #996600;
}

 /* Start of Footer styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    padding-top: 5px;
}

#footer {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 5px;
    color: #eee;   
}

.footerRule {
    background-color: #4aaaa5;
    height: 8px;
    width: 100%;
    margin-top: 60px; 
}
/* End of Footer styles */


.col-sm-5 {
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 30px;

}

.work {
    position: relative;
    float: left;
    width: 200px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 200px;
    height: 200px;
    border: none;
    opacity: 0.8;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}


.thumbCaption {
    background-color: #4aaaa5;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 20px;
    float: left;
    margin-top: 130px;
}
